@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #03045e   ;
    --secondary-color: #0077b6 ;
    --accent1-color: #00b4d8;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Roboto";
    --paragraph-font: Roboto, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: black;  /* headlines on a white background */ 
    --headline-color-on-color: #FFFFFF; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
  }
  
/* CSS */



#content {
    max-width:1600px;
    margin:0 auto;
}

nav a{
    text-align:center;
    color:#000;
    text-decoration:none;
    padding: 35px;

}
nav {
    background-color:#D4AC0D;
    display: flex;
    justify-content: space-around; 
}
#background {
    height:725px;
    background-color: #396E94 ;
    grid-column: 1/11;
    grid-row: 4/9;
}
header #logo_link {
    background-color:#D4AC0D;
} 

.book,.join {
    background-color:#D4AC0D;
    color:#000;
    text-decoration:none;
    text-align: center;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

footer {
    background-color:#396E94;
    color:#000;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a  {
    color:#D4AC0D;
    text-decoration:none;
}

#content > footer > p:nth-child(1){
    color:#D4AC0D;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color:#FFF;
}

#hero-img {
    width:100%;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

nav a:hover,.book:hover,.join:hover {
    background-color:#396E94;
    color:#FFF;
}
h4,.msg h2 {
    color:#000;
}

#hero-msg h4 {
    text-align: center;
    color: white;
}

#hero-msg h1,#hero-msg div,.button-box,main section {
    text-align: center;
}

header {
    background-color:#D4AC0D;
    display: grid;
    grid-template-columns: 150px auto;
}

body {
    background-color: #FFF;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.logo {
width:80px;
}
.home-title {
    color:#396E94;
    font-family: Kalam;
    font-size: 2em;
    margin-top: 10px;
}
.msg p {
    color:#000;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg {
    background-color:#FFFFFF;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #4A4E69;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.main section img {
    box-sizing: border-box;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.card-img, .mountains {
    width: 100%
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

/* ------------------------- FAQ PAGE ------------------------- */
.title-aboutus {
    text-align: center;
}
.title-aboutus h2 {
    margin-top: 70px;
}
.title-aboutus img {
    width: 40%;
}

.aboutus-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  box-sizing: border-box;
  place-items: center;
}

.aboutus-grid {
    grid-template-rows: repeat(2, 1fr);
  }
  
  .aboutus-grid .question {
    grid-column: 1 / 4;
  }
  
  .aboutus-grid .question:nth-child(4) {
    grid-row: 2;
    grid-column: 2 / 4;
  }
  
  .aboutus-grid .question:nth-child(5) {
    grid-row: 2;
    grid-column: 3 / 4;
  }


.aboutus-grid .question {
  grid-column: 1 / 4;
}

.aboutus-grid .question:nth-child(4) {
  grid-row: 2;
  grid-column: 2 / 4;
}

.aboutus-grid .question:nth-child(5) {
  grid-row: 2;
  grid-column: 3 / 4;
}

.question{
    background: #396E94;
    margin: 70px;
    word-wrap: break-word;
    vertical-align: middle;
}

.aboutus-grid .question h3  {
    font-size: 16px;
    padding: 10px;
}

.aboutus-grid .question p {
    font-size: 14px;
    padding: 10px;
}

.aboutus-grid .question li {
    font-size: 14px;
    padding: 5px;
}


.question{
    background: #396E94;
    margin: 70px;
    word-wrap: break-word;
    vertical-align: middle;
    

}
.aboutus-grid .question h3  {
    font-size: 16px;
    padding: 10px;
}
.aboutus-grid .question p {
    font-size: 14px;
    padding: 10px;
}
.aboutus-grid .question li {
    font-size: 14px;
    padding: 5px;
}

/* ------------------------- CONTACT US PAGE ------------------------- */
.contact-form {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.contact-form input[type="submit"] {
    background-color: #D4AC0D;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.contact-form textarea {
    height: 100px;
}

/* Specific changes for the contact page */

.contact-form h2 {
    text-align: center;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}